In [3]:
#the last version used multiple files of weekly scores
#this version uses a single file with week rows

#a player's showup score is the integer total of games during 
#selected seasons in which they performed at or beyond a threshold

import pandas as pd
import numpy as np
import seaborn as sns

datafile=r'C:\Users\pinai\Fantasy\data\compute\FantasyPros_HALF_2022.csv'

#takes table of game performance point totals (index - player, columns - week)
df=pd.read_csv(datafile)

daply=[]
dapts=[]
cnt=0
ptthr=18
for index, playperf in df.iterrows():
    
    player=playperf[1:4]
    daply.append(player)
    pts=playperf[4:22]
    pts=[0 if pt=='NaN' else pt for pt in pts]
    pts=[0 if pt=='BYE' else pt for pt in pts]
    pts=[0 if pt=='-' else pt for pt in pts]
    pts=[1 if float(pt)>=ptthr else 0 for pt in pts]
    pts.append(sum(pts))
    dapts.append(pts)

players=pd.DataFrame(daply)
scores=pd.DataFrame(dapts)
data=pd.concat([players,scores], axis=1)
data=data.rename(columns={18 : 'Total'})
data=data.sort_values(by='Total',ascending=False)

#with pd.ExcelWriter(r'C:\Users\pinai\Fantasy\showup\showup2023_'+str(ptthr)+'.xlsx',engine='openpyxl') as writer:
 #   data.to_excel(writer, sheet_name='showup2023')

In [4]:
data

,Player,Pos,Team,0,1,2,3,4,5,6,...,9,10,11,12,13,14,15,16,17,Total
0,Patrick Mahomes II,QB,KC,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,15
1,Josh Allen,QB,BUF,1,1,1,1,1,1,0,...,1,0,1,0,1,1,1,0,1,14
2,Jalen Hurts,QB,PHI,1,1,1,0,1,0,0,...,1,1,1,1,1,1,0,0,0,12
3,Joe Burrow,QB,CIN,1,0,1,1,1,1,1,...,0,1,1,1,0,1,1,0,0,12
10,Trevor Lawrence,QB,JAC,0,1,1,0,0,1,1,...,1,0,1,0,1,1,1,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,Peyton Hendershot,TE,DAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
369,Marlon Mack,RB,ARI,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
368,KhaDarel Hodge,WR,ATL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
367,Ashton Dulin,WR,IND,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
722,NaN,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [213]:
data

,Player,Pos,Team,0,1,2,3,4,5,6,...,9,10,11,12,13,14,15,16,17,18
0,Patrick Mahomes II,QB,KC,1,0,0,1,1,1,1,...,1,1,0,0,1,1,1,1,0,12
1,Josh Allen,QB,BUF,1,1,1,1,1,1,0,...,1,0,1,0,1,1,1,0,1,13
2,Jalen Hurts,QB,PHI,1,1,1,0,1,0,0,...,1,1,1,1,1,1,0,0,0,12
3,Joe Burrow,QB,CIN,1,0,1,1,0,1,1,...,0,1,0,1,0,1,1,0,0,9
4,Austin Ekeler,RB,LAC,0,0,0,1,1,0,1,...,0,0,0,0,1,0,1,1,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,KaVontae Turpin,WR,DAL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
719,Taiwan Jones,RB,NYG,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
720,Chester Rogers,WR,FA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
721,NaN,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
722,NaN,NaN,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
datafile=r'C:\Users\pinai\Fantasy\data\compute\FantasyPros_HALF_2022.csv'

datafile=pd.read_csv(datafile)

In [56]:
weeks

,Player,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,Patrick Mahomes II,34.9,17.3,18.1,24.4,30.5,21.6,27.9,BYE,35.1,32.1,27.5,19.4,19.8,22.8,32.7,23.8,26,15
1,Josh Allen,33.5,29.7,26.7,24.5,36.2,26.4,BYE,19.6,26.8,21.6,12.6,30.9,16.9,20.6,35.9,25,2.7,22.8
2,Jalen Hurts,24.7,34,27.6,17,27.7,16.9,BYE,28.4,20,22.8,24.2,29.8,34.4,30.4,36.7,-,-,9.5
3,Joe Burrow,22.2,16.6,23,20.1,18.3,32.5,39.2,14.5,19.1,BYE,28.7,18,30,17.6,25.8,25.5,6.3,11.6
4,Austin Ekeler,9.2,13.9,9.3,31.9,33.9,19.3,30.7,BYE,20.6,9.8,17,19.5,10.7,20.4,14,21.9,30.1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,KaVontae Turpin,0,0.3,0,0,0,0,0.3,1.1,BYE,1.4,0,0,0,-2,0,0,0,-2
719,Taiwan Jones,0,0,-,-,0,-,-,-,BYE,-,-,-,-,0,0,0,-,-2
720,Chester Rogers,-,-,0,-,0,-2,-,-,-,-,-,-,-,-,-,-,-,-
721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
datafile[1:1]

Empty DataFrame
Columns: [#, Player, Pos, Team, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, AVG, TTL]
Index: []

[0 rows x 24 columns]

In [41]:
pts

NameError: name 'pts' is not defined

In [ ]:
    
    wks = df[wks]
    cnt = cnt+1
    #df = pd.read_excel(datadir + '\\' + filename)
    plyr = df[plyr]
    pos = df['Pos']    
    pnts = df['HalfPPRFantasyPoints']
    wks = len(plyr)*[wks]
    cnts = len(plyr)*[cnt]
    plypts = zip(plyr, pnts, wks, pos, cnts)
    data.append(plypts)

player=[]
points=[]
weeks=[]
QB=[]
QBp=[]
qbbs=0
RB=[]
RBp=[]
rbbs=0
WR=[]
WRp=[]
wrrs=0
TE=[]
TEp=[]
tees=0
#collecting the performances for each player - each player gets list of weekwise performances
for pltup in data:
    plt = list(pltup)
    
    for pl in plt:
        plyr = pl[0]
        pnts = pl[1]
        week = pl[2]
        pos = pl[3]
        cnt = pl[4]
    
        if week not in weeks:
            weeks.append(week)
    
        if plyr not in player:
            player.append(plyr)
            pntlis = wknum*[0]
            pntlis[cnt-1] = pnts
            points.append(pntlis)
        
        if pos == 'QB' and plyr not in QB:
            qbbs=qbbs+1
            QB.append(plyr)
            QBp.append(pntlis)
            QBp[qbbs-1][cnt-1] = pnts

        elif pos == 'RB' and plyr not in RB:
            rbbs=rbbs+1
            RB.append(plyr)
            RBp.append(pntlis)
            RBp[rbbs-1][cnt-1] = pnts

        elif pos == 'WR' and plyr not in WR:
            wrrs=wrrs+1
            WR.append(plyr)
            WRp.append(pntlis)
            WRp[wrrs-1][cnt-1] = pnts

        elif pos == 'TE' and plyr not in TE:
            tees=tees+1
            TE.append(plyr)
            TEp.append(pntlis)
            TEp[tees-1][cnt-1] = pnts

        index = player.index(plyr)
        points[index][cnt-1] = pnts

#index - player, data - points, columns - week
df = pd.DataFrame(points, player, columns=weeks)
dfqb = pd.DataFrame(QBp, QB, columns=weeks)
dfrb = pd.DataFrame(RBp, RB, columns=weeks)
dfwr = pd.DataFrame(WRp, WR, columns=weeks)
dfte = pd.DataFrame(TEp, TE, columns=weeks)

In [2]:


#calculate show up scores during the selected season(s)
#each player gets one showup integer tally (+1) for each individual game performance that
#resulted in equal or more HalfPPR fantasy points than the threshold
thresh=30
styr=2017 #how many seasons back on the df
yr1=2020 #start season
yr2=2021 #stop season

if yr1 == yr2:
    analypath=r'C:\Users\pinai\Fantasy\analysis\\'+str(yr1)
    
else:
    analypath=r'C:\Users\pinai\Fantasy\analysis\\'+str(yr1)+'-'+str(yr2)

os.mkdir(analypath)

allname ='all'
qbname ='QBs'
rbname ='RBs'
wrname ='WRs'
tename ='TEs'

if yr1 < 2021 and yr2 < 2021:
    sy=(yr1-styr)*17
    ey=sy+(yr2-yr1+1)*17

if yr1 < 2021 and yr2 >= 2021:
    sy=(yr1-styr)*17
    ey=sy+(2021-yr1+1)*17+(yr2-2021+1)*18

if yr1 == 2021:
    sy=(yr1-styr)*17
    ey=sy+(yr2-yr1+1)*18

if yr1 > 2021 and yr2 > 2021:
    sy=(yr1-styr)*18
    ey=sy+(yr2-yr1+1)*18
sy=int(sy)
ey=int(ey)


for thr in range(10,thresh+1):
#only takes game point totals above the threshold - adds up how many thresh+ games for each player
    dfs = df.iloc[:,sy:ey][df >= thr]
    dfs[dfs > 0] = 1
    dfs['Total'] = dfs.sum(axis=1)
    dfs = dfs.sort_values(by=['Total'], ascending=False)

    dfqbs = dfqb.iloc[:,sy:ey][dfqb >= thr]
    dfqbs[dfqbs > 0] = 1
    dfqbs['Total'] = dfqbs.sum(axis=1)
    dfqbs = dfqbs.sort_values(by=['Total'], ascending=False)

    dfrbs = dfrb.iloc[:,sy:ey][dfrb >= thr]
    dfrbs[dfrbs > 0] = 1
    dfrbs['Total'] = dfrbs.sum(axis=1)
    dfrbs = dfrbs.sort_values(by=['Total'], ascending=False)

    dfwrs = dfwr.iloc[:,sy:ey][dfwr >= thr]
    dfwrs[dfwrs > 0] = 1
    dfwrs['Total'] = dfwrs.sum(axis=1)
    dfwrs = dfwrs.sort_values(by=['Total'], ascending=False)

    dftes = dfte.iloc[:,sy:ey][dfte >= thr]
    dftes[dftes > 0] = 1
    dftes['Total'] = dftes.sum(axis=1)
    dftes = dftes.sort_values(by=['Total'], ascending=False)

    with pd.ExcelWriter(analypath+'\showup_'+str(thr)+'.xlsx', engine='openpyxl') as writer:
        
        dfs.to_excel(writer, sheet_name=allname)
        dfqbs.to_excel(writer, sheet_name=qbname)
        dfrbs.to_excel(writer, sheet_name=rbname)
        dfwrs.to_excel(writer, sheet_name=wrname)
        dftes.to_excel(writer, sheet_name=tename)

        book = writer.book
    writer.save

In [54]:
yr2-yr1

1

In [44]:
ey

90